@mixin centralizar {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

@function lineHeight($px, $context: 1.5) {
  @return $px * $context + px;
}

@function rem($px, $context: 16) {
  @return $px / $context + rem;
}
