// Tamanho fontes
$pequeno: rem(14);
$normal: rem(16);
$medio: rem(26);
$grande: rem(32);
$gigante: rem(48);

// Espacamentos de layout
$espacamento_pequeno: rem(15);
$espacamento_medio: rem(30);
$espacamento_extra-medio: rem(40);
$espacamento_grande: rem(60);
$espacamento_gigante: rem(120);

// Cores do layout
