@import "src/styles/util/mixin/mixin";

$layout: "lMain";

.#{$layout} {
  width: 100%;
  max-width: 940px;
  min-height: calc(100vh - 64px);
  @include centralizar;
  background-color: var(--light);
  padding: var(--espacamento_extra-medio) var(--espacamento_medio);
  padding-bottom: var(--espacamento_gigante);
}
