@import "./util/mixin/mixin.scss";
@import "./util/reset.scss";

:root {
  font-size: 16px;

  // Tamanho fontes
  --pequeno: 0.75rem; // 14px
  --normal: 1rem; // 16px
  --medio: 1.625rem; // 26px
  --grande: 2rem; // 32px
  --gigante: 3rem; // 48px

  // Espacamentos de layout
  --espacamento_pequeno: 0.9375rem; // 15px
  --espacamento_medio: 1.875rem; // 30px
  --espacamento_extra-medio: 2.5rem; // 40px
  --espacamento_grande: 3.75rem; // 60px
  --espacamento_gigante: 7.5rem; // 120px

  // Cores do layout
  --branco: #fff;
  --light: #f8f9fa;
  --azul: #007bff;
  --cinza: #6c757d;
  --preto: #343a40;
  --info: #17a2b8;

  // Fontes
  --montSerrat: "Montserrat", sans-serif;
  --roboto: "Roboto", sans-serif;

  // Font Weight
  --light: 300;
  --regular: 400;
  --bold: 700;
}
