@import "src/styles/util/mixin/mixin";

$layout: "lFooter";

.#{$layout} {
  width: 100%;
  height: 70px;
  background-color: var(--preto);
  position: absolute;
  bottom: 0;
  color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: var(--espacamento_medio);
  padding-right: var(--espacamento_medio);
  line-height: lineHeight(16);
  text-align: center;

  & a {
    color: var(--azul);
    text-decoration: underline;
  }
}
