* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

body {
  font-size: var(--normal);
  background-color: var(--branco);
}

a {
  text-decoration: none;
  color: inherit;
}
