@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

body {
  font-size: var(--normal);
  background-color: var(--branco);
  font-family: var(--montSerrat);
}

a {
  text-decoration: none;
  color: inherit;
}
